<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- ... -->
	<connectionStrings>
		<add name="RentAWheels"
		connectionString="Data Source=TESLATEAM;Initial Catalog=RENTAWHEELS;User ID=RENTAWHEELS_LOGIN;Password=RENTAWHEELS_PASSWORD_123"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>